
<div class="well">

<p>
  <span class="glyphicon glyphicon-calendar"></span>
  Local events and seminars on <a href="{{ site.url }}{{ site.baseurl }}/allevents.html">quantum science</a> 
</p>

<p>
  <span class="glyphicon glyphicon-calendar"></span>
  Local events and seminars on<a href="{{ site.url }}{{ site.baseurl }}/allevents.html">bio-inspired computing and artifical intelligence</a> 
</p>

<p> For news, follow us on <a href="https://twitter.com/QuantInfoULB?s=20&t=T_I06p5CMyhI5yqchHQhQw">Twitter</a> <i class="fa-brands fa-twitter fa-2x"></i></p>

<p>
  Location (theory): <br />
NO building, 4th floor <br />
ULB Plaine Campus <br />
Boulevard du Triomphe <br />
1050 Brussels, Belgium <br />
  (<a href="https://www.google.be/maps/place/ULB+Plaine+-+Batiment+NO/@50.8196998,4.3969105,18.77z/data=!4m5!3m4!1s0x47c3c4ceab16c2f7:0xdce9335a43c9dfb5!8m2!3d50.8200381!4d4.3978033">Map</a>)
</p>

<p>
Location (experimental): <br />
Building C, level 3 <br />
ULB Solbosch Campus <br />
Avenue Adolphe Buyl 87 <br />
1050 Brussels, Belgium <br />
  (<a href="https://www.google.com/maps/@50.8144262,4.3819217,16.73z">Map</a>)
</p>


</div>
