
<div class="well">

<p>
  <span class="glyphicon glyphicon-calendar"></span>
  Local events and seminars on <a href="{{ site.url }}{{ site.baseurl }}/allevents.html">quantum science</a> 
</p>

<p>
  <span class="glyphicon glyphicon-calendar"></span>
  Local events and seminars on<a href="{{ site.url }}{{ site.baseurl }}/allevents.html">bio-inspired computing and artifical intelligence</a> 
</p>

<p> For news, follow us on <a href="https://twitter.com/QuantInfoULB?s=20&t=T_I06p5CMyhI5yqchHQhQw">Twitter</a> <i class="fa-brands fa-twitter fa-2x"></i></p>




</div>
